body {
    font-size: 20px;
    color: grey;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: navy;
    width: 100%;
}

.logo {
    font-size: 25px;
}

h1 {
    color: white;
    font-weight: 900px;
    font-size: 30px;
}

.link {
    color: white;
    font-size: 15px;
    padding-right: 10px;
}

.navs {
    display: flex
}

.top {
    display: flex;
    background-color: navy;
    padding: 20px;
}

.top-text {
    display: flex;
    flex-direction: column;
}